MONGO_PORT=27017
MONGO_DB_NAME=hookcatcher
MONGO_USER=hookcatcher
MONGO_PASSWORD=supersecretpassword

POSTGRES_HOST=localhost
POSTGRES_PORT=5435
POSTGRES_NAME=hookcatcher
POSTGRES_USER=hookcatcher
POSTGRES_PASSWORD=supersecretpassword1234
POSTGRES_SSL=false