HONEYCOMB_API_KEY=
OTEL_SERVICE_NAME=sv-hook-catcher
HONEYCOMB_METRICS_DATASET=sv-hook-catcher

SERVER_PORT=3000

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB_NAME=hookcatcher
MONGO_USER=hookcatcher
MONGO_PASSWORD=supersecretpassword

POSTGRES_HOST=localhost
POSTGRES_PORT=5435   # avoid potential conflict w/ existing Postgres
POSTGRES_NAME=hookcatcher
POSTGRES_USER=hookcatcher
POSTGRES_PASSWORD=supersecretpassword1234
POSTGRES_SSL=false

# For CORS (narrow CORS policy not yet implemented)
CORS_ALLOWED_ORIGINS=http://localhost:5173  